:root {
  --text-white: white;
}
body {
  height: 10000px;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.heed-h1 {
  font-size: 4.5rem;
}
.navbar-color {
  background-color: rgba(0, 0, 0, 0.9);
}

.navbar-brand {
  font-size: 1.75rem;
  letter-spacing: 1px;
}

.navbar .navbar-nav .nav-link,
.navbar .navbar-brand,
.home-section,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: var(--text-white);
}

.home-content {
  font-size: 4.5rem;
  background-color: rgba(0, 0, 0, 0.6);
}

.home-section {
  background-image: url(/images/hero-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.anima {
  font-size: 2.5rem;
}

.anima::after {
  content: "|";
  animation-name: DDPF;
  animation-duration: 12s;
  animation-iteration-count: infinite;
}

@keyframes DDPF {
  0% {
    content: " | ";
  }
  1% {
    content: " D | ";
  }
  2% {
    content: " De | ";
  }
  3% {
    content: " Des | ";
  }
  4% {
    content: " Desi | ";
  }
  5% {
    content: " Desig | ";
  }
  6% {
    content: " Design | ";
  }
  7% {
    content: " Designe | ";
  }
  8% {
    content: " Designer | ";
  }
  13% {
    content: " Designe | ";
  }
  14% {
    content: " Design | ";
  }
  15% {
    content: " Desig | ";
  }
  16% {
    content: " Desi | ";
  }
  17% {
    content: " Des | ";
  }
  18% {
    content: " De | ";
  }
  19% {
    content: " D | ";
  }
  20% {
    content: "  | ";
  }
  21% {
    content: " | ";
  }
  22% {
    content: " D | ";
  }
  23% {
    content: " De | ";
  }
  24% {
    content: " Dev | ";
  }
  25% {
    content: " Deve | ";
  }
  26% {
    content: " Devel | ";
  }
  27% {
    content: " Develo | ";
  }
  28% {
    content: " Develop | ";
  }
  29% {
    content: " Develope | ";
  }
  30% {
    content: " Developer | ";
  }
  33% {
    content: " Develope | ";
  }
  34% {
    content: " Develop | ";
  }
  35% {
    content: " Develo | ";
  }
  36% {
    content: " Devel | ";
  }
  37% {
    content: " Deve | ";
  }
  38% {
    content: " Dev | ";
  }
  39% {
    content: " De | ";
  }
  40% {
    content: " D | ";
  }
  41% {
    content: "  | ";
  }
  42% {
    content: " | ";
  }
  43% {
    content: " p | ";
  }
  44% {
    content: " ph | ";
  }
  45% {
    content: " pho | ";
  }
  46% {
    content: " phot | ";
  }
  47% {
    content: " photo | ";
  }
  48% {
    content: " photog | ";
  }
  49% {
    content: " photogr | ";
  }
  50% {
    content: " photogra | ";
  }
  51% {
    content: " photograp | ";
  }
  52% {
    content: " photograph | ";
  }
  53% {
    content: " photographe | ";
  }
  54% {
    content: " photographer | ";
  }
  57% {
    content: " photographe | ";
  }
  58% {
    content: " photograph | ";
  }
  59% {
    content: " photograp | ";
  }
  60% {
    content: " photogra | ";
  }
  61% {
    content: " photogr | ";
  }
  62% {
    content: " photog | ";
  }
  63% {
    content: " photo | ";
  }
  64% {
    content: " phot | ";
  }
  65% {
    content: " pho | ";
  }
  66% {
    content: " ph | ";
  }
  67% {
    content: " p | ";
  }
  68% {
    content: "  | ";
  }
  69% {
    content: " | ";
  }
  70% {
    content: " f | ";
  }
  71% {
    content: " fr | ";
  }
  72% {
    content: " fre | ";
  }
  73% {
    content: " free | ";
  }
  74% {
    content: " freel | ";
  }
  75% {
    content: " freela | ";
  }
  76% {
    content: " freelan | ";
  }
  77% {
    content: " freelanc | ";
  }
  78% {
    content: " freelance | ";
  }
  79% {
    content: " freelancer | ";
  }
  82% {
    content: " freelance | ";
  }
  83% {
    content: " freelanc | ";
  }
  84% {
    content: " freelan | ";
  }
  85% {
    content: " freela | ";
  }
  86% {
    content: " freel | ";
  }
  87% {
    content: " free | ";
  }
  88% {
    content: " fre | ";
  }
  89% {
    content: " fr | ";
  }
  90% {
    content: " f | ";
  }
  91% {
    content: "  | ";
  }
  100% {
    content: " | ";
  }
}
/* ===============----second-section----============= */
h2 {
  position: relative;
}
.inder-line-about h2::after {
  content: "";
  width: 15%;
  height: 3px;
  background-color: #0078ff;
  position: absolute;
  bottom: -15%;
  left: 0%;
}

.margin-section-block {
  margin-block: 5rem;
}

.large-font-size {
  font-size: 3rem;
}

/* ===============----Services-section----============= */

.inder-line-services {
  width: 40px;
  height: 5px;
  background-color: #0078ff;
  margin: 0 auto;
}
/* ===============----Services-section----============= */

.Services-section .icon-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  font-size: 2rem;
  border-radius: 50%;
  line-height: 1.55;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 0 0 10px #0078ff;
  transition: all 500ms ease;
}

.Services-section .inner:hover .icon-circle {
  background-color: #0078ff;
  color: #fff;
  box-shadow: 0 0 0 10px #cde1f8;
}
/* ===============----counter-section----============= */
.counter-section {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* height: 50vh; */
  background-image: url(/images/counters-bg.jpg);
  padding: 8rem 0;
  position: relative;
}

.counter-section::after {
  content: "";
  background-color: #0078ff;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

/* .bg-maker-opacity {
  background-color: #0078ff;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
} */

.counter-section .icon-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  font-size: 2rem;
  border-radius: 50%;
  line-height: 1.55;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 0 0 10px #cde1f8;
  transition: all 500ms ease;
}

/* ===============----Portfolio-section----============= */

.Portfolio-section .inner:hover img {
  transform: scale(1.3);
}

.Portfolio-section img {
  transition: all 1s;
  cursor: pointer;
}
/* ===============----slider-section----=============  */
.slider-section {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  background-image: url(/images/overlay-bg.jpg);
  padding: 8rem 0;
  position: relative;
}

.slider-section::after {
  content: "";
  background-color: #0078ff;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
/* ===============----blog-section----============= */
.section-bg {
  background-color: #f5f5f5;
}
.blog-section .position-top-left {
  top: -6%;
  left: 41%;
  letter-spacing: 0.1px;
  font-size: 0.7rem;
  padding: 5px 15px;
  border-radius: 4px;
  font-weight: 500;
  line-height: 25px;
  width: fit-content;
}

.fff-color {
  background-color: #f8f8f8;
}

.width-new {
  width: 32px;
  height: 32px;
  margin-right: 4px;
}
